@font-face { font-family: "Bitstream Vera"; src: url("../assets/fonts/Vera.ttf"); }
@font-face { font-family: "Bitstream Vera Serif"; src: url("../assets/fonts/VeraSerif.ttf"); }
@font-face {font-family:"Sketchetik Light";src:url("Sketchetik-Light.eot?") format("eot"),url("Sketchetik-Light.woff") format("woff"),url("Sketchetik-Light.ttf") format("truetype"),url("Sketchetik-Light.svg#Sketchetik-Light") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Handi";src:url("HANDI___.eot?") format("eot"),url("HANDI___.woff") format("woff"),url("HANDI___.ttf") format("truetype"),url("HANDI___.svg#Handi") format("svg");font-weight:normal;font-style:normal;}

body {
    margin: 0; 
    background-color: #00002f;
    color: white;
    font-family: "Bitstream Vera", sans-serif; 
}

.alt p {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    text-align: center;
}
.belief {
    float: left;
    width: 16em;
}
.belief * { 
    text-align: left;
}

h1 {
    text-align: center;
    font-family: "Bitstream Vera Serif", serif;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    color: white;
}
h1.beliefs {
    font-family: "Handi";
    font-size: 350%;
    color: white;
}

h2, h3, h4, h5, h6 { text-align: center; font-variant: small-caps; color: #2e2; }

img { display: block; margin-left: auto; margin-right: auto; }

.alt {
    background-color: #2e2;
    padding: 2em;
    margin-top: 2em;
    clear: both;
}
.alt p {
    color: #00002f;
}

.header {
}
.header img {
    margin: 1em 0;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.header h1 {
    color: #00002f;
    background-color: #2e2;
    margin-bottom: 1em;
    padding: 0.8em;
    text-align: left;
    
}

#beliefs {
    display: flex;
    justify-content: space-around;
}


.container { height: 100%; width: 100%; }
.fix { position: fixed; width: 100%; height: 80px; }
.rest { padding-top: 100px; }
.fix .header h1 {
    background-color: transparant;
    background: -webkit-linear-gradient(left, #2e2, #2e2, #2e2, #00002f, #00002f);
}